


:root{
	--red: #ff66f9;
}


html, body {

   	background: #ffeead;
   	color: var(--red);

}

h1, p {
	color: var(--red);
}


#navbar a {
    color: var(--red); 

}

.item {
    background: #ffcc5c;

}

button {
    background: var(--red);
    color: #ffcc5c;

}