


:root{
	--red: #ff6f69;
	--beige: #ffeead;

}


html, body {

   	background: var(--beige);
   	color: var(--red);

}

h1, p {
	color: var(--red);
}


#navbar a {
    color: var(--red); 

}

.item {
    background: #ffcc5c;

}

button {
    background: var(--red);
    color: #ffcc5c;

}