

:root {
    --green: #66CD00;
}


html, body {

   	background: #ffeead;
   	color: re;

}


#navbar a {
    color: #ff6f69;

}

.item {
    background: #ffcc5c;

}

button {
    background: #ff6f69;
    color: #ffcc5c;

}